<mat-drawer-container [hasBackdrop]="true" class="drawer-container">
    <mat-drawer #drawer>
        <div class="drawerDiv">
            <button mat-button (click)="drawer.close()">
                <i class="material-icons">library_add</i>
                <span>Add match</span>
            </button>
            <button mat-button (click)="drawer.close()" class='focus'>
                <i class="material-icons">history</i>
                <span>Match history</span>
            </button>
            <button mat-button (click)="drawer.close()">
                <i class="material-icons">emoji_events</i>
                <span>Scoreboard</span>
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content>

        <mat-toolbar class="toolbar">
            <span class="toolbarIcon">
                <button mat-icon-button (click)="drawer.open()">
                    <i class="material-icons">menu</i>
                </button>
            </span>
            <span>Foosball Scorekeeping</span>
        </mat-toolbar>

        <div class="content">
            <router-outlet></router-outlet>
        </div>

    </mat-drawer-content>
  </mat-drawer-container>