.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 8px 48px; */
}

.filler {
    flex-basis: 10%;
}

.formDiv {
    padding: 8px 16px 16px 16px;
    width: 100%;
}

.title {
    padding-left: 32px;
    /* margin-bottom: 12px; */
}

.table-container {
    overflow: auto;
    margin-top: 16px;
}

table {
    min-width: 100%;
    width: max-content;
}

.mat-cell, .mat-header-cell {
    padding: 16px;
}

mat-form-field {
    width: 100%;
}

.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


@media screen and (min-width: 1200px) {
    .filler {
        flex-basis: 20%;
    }
  }