<div class="wrapper">
    <span class="filler"></span>

    <div class="formDiv">
        <h2 class="title">Match history</h2>

        <!-- <div *ngIf="loadContent"> -->
        <mat-form-field>
            <mat-label>Filter on playernames or scores</mat-label>
            <input matInput (keyup)="applyPlayerFilter($event)">
            <mat-hint>E.g. To find all matches that ended 10-0, filter on 10-0 or 0-10</mat-hint>
        </mat-form-field>
        <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="dateAdded" matSortDirection="desc" matSortDisableClear>

                <ng-container matColumnDef="team1">
                    <th mat-header-cell *matHeaderCellDef> Team 1 </th>
                    <td mat-cell *matCellDef="let match" style="white-space: pre-line"> {{match.team1Html}}</td>
                </ng-container>

                <ng-container matColumnDef="team2">
                    <th mat-header-cell *matHeaderCellDef> Team 2 </th>
                    <td mat-cell *matCellDef="let match" style="white-space: pre-line"> {{match.team2Html}}</td>
                </ng-container>

                <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef> Score </th>
                    <td mat-cell *matCellDef="let match"> {{match.scoreTeam1}} - {{match.scoreTeam2}}</td>
                </ng-container>

                <ng-container matColumnDef="dateAdded">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date added </th>
                    <td mat-cell *matCellDef="let match"> {{ match.dateAdded | date: "dd/MM/yy" }} </td>
                    <!-- <td mat-cell *matCellDef="let match"> {{ match.dateAdded}} </td> -->
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div *ngIf="!loadContent" class="spinner-wrapper">
            <mat-spinner [diameter]="80"></mat-spinner>
        </div>
    </div>

    <span class="filler"></span>
</div>